<h1>Hot Weather Widget</h1>

<div class="element">
  <div class="element-left">
    <app-site-search (onSiteSelect)="travelSite = $event"></app-site-search>
  </div>
  <div class="element-right">
    <app-weather [weather]="travelSite?.weather"></app-weather>
    <app-social [socialInfo]="travelSite?.socialInfo"></app-social>
  </div>
  <div class="clear"></div>
</div>

<div class="copy-right">
  <p>© 2017 Hot Weather Widget. No rights reserved | Design by <a href="http://w3layouts.com/" target="_blank">
    W3layouts </a></p>
</div>
