<div class="element-bg-img"><img [src]="site?.img" alt="" class="img-responsive"></div>
<div class="element-left-bottom">
  <div class="ele-strip">
    <ul>
        <li *ngFor="let type of types | unique">
          <a href="#" (click)="currentType = type">{{type}}</a>
        </li>
      <li>
        <a href="#" (click)="currentType = null">Show ALL</a>
      </li>
    </ul>
  </div>
</div>

<div class="village">
  <h3>Righteous indignation & like</h3>
  <span class="line"> </span>
  <div class="activity_box">
    <div class="scrollbar" id="style-2">

      <div *ngFor="let travelSite of travelSites | siteFilter:currentType">

        <app-site-description [travelSite]="travelSite" (onSelect)="selectSite(travelSite)"></app-site-description>

      </div>
    </div>
  </div>
</div>
